aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
audioop-lts
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
deep-translator
dnspython
email_validator
faiss-cpu
fastapi
fastapi-cli
filelock
filetype
Flask
flask-cors
frozenlist
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
gTTS
h11
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
idna
itsdangerous
Jinja2
joblib
jsonpatch
jsonpointer
keybert
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
marshmallow
mdurl
mpmath
multidict
mypy-extensions
networkx
numpy
orjson
packaging
pillow
propcache
proto-plus
protobuf
pyasn1
pyasn1_modules
PyAudio
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
pymongo
pygame
Pygments
pyparsing
PyPDF2
python-dotenv
python-multipart
PyYAML
regex
requests
requests-toolbelt
rich
rich-toolkit
rsa
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
sniffio
soupsieve
SpeechRecognition
SQLAlchemy
standard-aifc
standard-chunk
starlette
sympy
tenacity
threadpoolctl
tokenizers
torch
tqdm
transformers
typer
typing-inspect
typing_extensions
ujson
uritemplate
urllib3
uvicorn
watchfiles
websockets
Werkzeug
yarl
zstandard
