fastapi
uvicorn
python-dotenv
PyPDF2
feedparser
requests
beautifulsoup4
langchain>=0.1.17
langchain-community>=0.0.32
langchain-google-genai>=0.0.6
google-generativeai
keybert
scikit-learn
sentence-transformers
transformers
torch
faiss-cpu
deep-translator
pydantic